<% if user_signed_in? %>
  <li>
  <%= t('devise.information.logged_in_as') %>
  <%= current_user.email %>
  <%= link_to('Logout', destroy_user_session_path) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>
<% if admin_signed_in? %>
  <li><%= link_to('Log admin out', destroy_admin_session_path) %></li>
<% else %>
  <li><%= link_to 'Sign in as administrator', new_admin_session_path %></li>
<% end %>
