<%= form_for @register_user, 
  :url => {:controller => "register_users", :action => "create"} do |f| %>
  <% if @register_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@register_user.errors.count, "error") %> prohibited this register_user from being saved:</h2>

      <ul>
      <% @register_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "mceEditor", :cols => 30, :rows => 2 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
