<% content_for :title do %>
Listing register_users
<% end %>

<% content_for :content do %>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @register_users.each do |register_user| %>
    <tr>
      <td><%= register_user.name %></td>
      <td><%= register_user.email %></td>
      <td><%= link_to 'Show', register_user %></td>
      <td><%= link_to 'Edit', edit_register_user_path(register_user) %></td>
      <td><%= link_to 'Destroy', "/register_users/#{register_user._id}/", :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Register user', new_register_user_path %>
<% end %>
