<%= form_for(@upload, :html => {:multipart => true, :name => "upload_form"}) do |f| %>
  <% if @upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% @upload.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :contains_raster_data %>
    <%= f.check_box :contains_raster_data %>
    <%= f.label :contains_vector_data %>
    <%= f.check_box :contains_vector_data %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "mceEditor", :cols => 30, :rows => 2 %>
  </div>

  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_field :tag_list %>
  </div>

  <div class="field">
    <%= f.label :file %>
    <%= f.file_field :file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
