<% content_for :title do %>
  Search
<% end %>

<% content_for :content do %>
  <p>
  Search/Filter uploaded data sets by tags. Insert the tags you want to use in the following 
  input field and separate them either by , or a whitespace.
  </p>
  <%= form_tag uploads_path, :method => "get" do %>
    <%= label_tag :keywords %>
    <%= text_field_with_auto_complete :keywords, :taglist, { :size => 15 }, { :url => "tags/index.js", :method => :get, :param_name => 'tag',
      :tokens => [","," "]} %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>

    <h2 class="entry-title">Create new Upload</h2>
    <%= link_to 'New Upload', new_upload_path %>
    <h2 class="entry-title">Listing uploads</h2>

    <% if not @uploads.empty? %>
      <% (0..@paginated_uploads.num_pages-1).each do |page| %>
        <%= link_to_unless_current "#{page + 1}", request.parameters.merge({:page => page, :keywords => params[:keywords] }) %>
      <% end %>
    <% end %>
    <% if not @paginated_uploads.empty? %>
      <br />

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Vector Data</th>
            <th>Raster Data</th>
            <th>Tags</th>
            <th>Uploader</th>
            <th>File</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <% @paginated_uploads.each do |upload| %>
            <tr>
              <td><%= link_to upload.name, upload %></td>
              <td>
                <a href="#" onClick="unfold('<%= upload._id %>'); return 
                  false;">&#9658;Unfold description</a>
                <div id="<%= upload._id %>" style="display:none">
                  <%= raw upload.description %>

                </div>
              </td>
              <td><%= raw (upload.contains_raster_data ? "&#10004;" : "&#10008;") %></td>
              <td><%= raw (upload.contains_vector_data ? "&#10004;" : "&#10008;") %></td>
              <td><%= upload.tag_list.empty? ? (raw "&#8212;") : upload.tag_list %></td>
              <td><%= link_to upload.user.email, user_path(upload.user) if upload.user %></td>
              <td><%= link_to upload.name, upload.file.url %></td>
              <td><%= link_to 'Edit', edit_upload_path(upload) if upload.user == current_user or admin_signed_in? %></td>
              <td><%= link_to 'Destroy', upload, :confirm => 'Are you sure?', 
                :method => :delete if upload.user == current_user or admin_signed_in? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <% if not @uploads.empty? %>
      <% (0..@paginated_uploads.num_pages-1).each do |page| %>
        <%= link_to_unless_current "#{page + 1}", request.parameters.merge({:page => page, :keywords => params[:keywords] }) %>
      <% end %>
    <% end %>
<% end %>

<% content_for :widgettitle do %>
  Tags
<% end %>
<% content_for :widget do %>
<ul>
  <% Upload.all_tags({:sort => [:_id, :asc], :limit => 20}).each do |tag| %>
    <li><%= "#{tag[:name]} (#{tag[:count]})" %></li>
  <% end %>
</ul>
<% end %>
