<% content_for :title do %>
  Search
<% end %>

<% content_for :content do %>
  <p>
  Search/Filter uploaded data sets by tags. Insert the tags you want to use in the following 
  input field and separate them either by , or a whitespace.
  </p>
  <%= form_tag uploads_path, :method => "get" do %>
    <%= label_tag :keywords %>
    <%= text_field_with_auto_complete :keywords, :taglist, { :size => 15 }, { :url => "tags/index.js", :method => :get, :param_name => 'tag',
      :tokens => [","," "]} %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>

    <h2 class="entry-title">Create new Upload</h2>
    <%= link_to 'New Upload', new_upload_path %>
    <h2 class="entry-title">Listing uploads</h2>

    <%= render "shared/paginate_uploads", { :uploads => @uploads, :paginated_uploads => @paginated_uploads } %>

    <% if not @paginated_uploads.empty? %>
      <br />
      <%= render "shared/uploads", { :uploads => @paginated_uploads } %>
    <% end %>

    <%= render "shared/paginate_uploads", { :uploads => @uploads, :paginated_uploads => @paginated_uploads } %>
<% end %>

<% content_for :widgettitle do %>
  Tags
<% end %>
<% content_for :widget do %>
<ul>
  <% Upload.all_tags({:sort => [:_id, :asc], :limit => 20}).each do |tag| %>
    <li><%= "#{tag[:name]} (#{tag[:count]})" %></li>
  <% end %>
</ul>
<% end %>
