  <!DOCTYPE html>
  <html>
  <head>
    <title>GDX</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "unfold" %>
    <%= csrf_meta_tag %>
    <%= include_tiny_mce_if_needed %>
  </head>
  <body class="home blog single-author two-column right-sidebar">
    <div id="page" class="hfeed">
    <noscript>
      <header id="branding" role="banner" style="background-image: url('/images/scaled.JPG'); background-repeat: no-repeat">
    </noscript>
    <script type="text/javascript">
      var imagenumber = 5 ;
      var randomnumber = Math.random() ;
      var rand1 = Math.round( (imagenumber-1) * randomnumber) + 1 ;
      images = new Array ;
      images[1] = "/images/scaled.JPG";
      images[2] = "/images/scaled2.JPG";
      images[3] = "/images/scaled3.JPG";
      images[4] = "/images/scaled4.JPG";
      images[5] = "/images/scaled5.JPG";
      var image = images[rand1];
      document.write('<header id="branding" role="banner" style="background-image: url(' + image + '); background-repeat: no-repeat">');
      </script>
      <hgroup>
      <h1 id="site-title">
        <span class="white-background" style="padding: 15px; color: black">
          <%= link_to "GDX", root_path, :class => "white-background" %>
        </span>
      </h1>
      <h2 id="site-description"><span class="white-background" style="padding: 5px">Geographical Data eXchange</span></h2>
      <div id="searchform">
        <div class="nav white-background">
          <span style="color: #7A7A7A;">
            <ul class="hmenu" style="padding: 5px">
              <%= render 'devise/menu/login_items' %>
            </ul>
          </div>
        </div>
        </hgroup>
      <nav id="access" role="navigation">
      <h3 class="assistive-text"><%= t('assistive.main_menu') %></h3>
            <div class="menu">
                        <ul>
                          <li class="<%= highlight_link("home") %>"><%= link_to "Home", "/" %> </li>
                          <li class="<%= highlight_link("uploads") %>"><%= link_to "Uploads", "/uploads" %></li>
                          <li class="<%= highlight_link("help") %>"><%= link_to "Help", "/help" %></li>
                        </ul> 
            </div>
      </nav>
    </header>

<!-- content //--> 
    <div id="main">
      <div id="primary">
        <div id="content" role="main">
          <h2 class="entry-title"><%= yield :title %></h2>
          <div class="entry-content">
                    <%- flash.each do |name, msg| -%>
                      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
                    <%- end -%>
          
                    <%= yield :content %>
          </div>
        </div>
      </div>

      <div id="secondary" class="widget-area" role="complementary">
        <aside id="archives" class="widget">
        <h3 class="widget_title">
          <%= yield :widgettitle %>
        </h3>
        <%= yield :widget %>
        </aside>
      </div>
    </div>
  
  <footer id="colophon" class="contentinfo">
    <% if Rails.env.development? %>
      <p>
      <%= debug(params) %>
      </p>
    <% end %>
  </footer>
  </div>
</body>
</html>
